<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>TouchUp</title>
  <link rel="stylesheet" type="text/css" href="/app-20181205094659.min.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
  <meta name="apple-itunes-app" content="app-id=id1128944336">
</head>
<body class="list-container">
<header>
  <div class="touch-up-logo" id="list-touch-up-logo"></div>
  <a href="/">Home</a>
  <nav class="lang-selector">
    <a href="/fr/games.html">FR</a>
    <a href="/en/games.html">EN</a>
  </nav>
</header>
<section role="main">
  <h1>Les jeux sur TouchUp</h1>
  <p>L'idée de cette application est de vous permettre de nettoyer votre carnet de contact aussi facilement que si vous etiez en train de jouer</p>
  <div class="card-container">
    <div class="game-card card">
  <a href="<%= card.href =>">
    <img src="/images/games/jeu-fusions.svg" alt="Fusion"/>
    <h3>Fusion</h3>
    <h4 data-content="<%= card.subtitle =>"><%= card.subtitle =></h4>
    <span class="price" data-price="free">free</span>
  </a>
</div>
<div class="game-card card">
  <a href="<%= card.href =>">
    <img src="/images/games/jeu-vides.svg" alt="Contact vides"/>
    <h3>Contact vides</h3>
    <h4 data-content="<%= card.subtitle =>"><%= card.subtitle =></h4>
    <span class="price" data-price="free">free</span>
  </a>
</div>
<div class="game-card card">
  <a href="<%= card.href =>">
    <img src="/images/games/jeu-international.svg" alt="Be international"/>
    <h3>Be international</h3>
    <h4 data-content="<%= card.subtitle =>"><%= card.subtitle =></h4>
    <span class="price" data-price="0,99€">0,99€</span>
  </a>
</div>
<div class="game-card card">
  <a href="<%= card.href =>">
    <img src="/images/games/jeu-parfait.svg" alt="Presque parfait"/>
    <h3>Presque parfait</h3>
    <h4 data-content="<%= card.subtitle =>"><%= card.subtitle =></h4>
    <span class="price" data-price="free">free</span>
  </a>
</div>
<div class="game-card card">
  <a href="<%= card.href =>">
    <img src="/images/games/jeu-photos.svg" alt="Tu veux ma photo ?"/>
    <h3>Tu veux ma photo ?</h3>
    <h4 data-content="<%= card.subtitle =>"><%= card.subtitle =></h4>
    <span class="price" data-price="free">free</span>
  </a>
</div>
<div class="game-card card">
  <a href="<%= card.href =>">
    <img src="/images/games/jeu-clones.svg" alt="Guerre des clones"/>
    <h3>Guerre des clones</h3>
    <h4 data-content="<%= card.subtitle =>"><%= card.subtitle =></h4>
    <span class="price" data-price="free">free</span>
  </a>
</div>
<div class="game-card card">
  <a href="<%= card.href =>">
    <img src="/images/games/jeu-sans-nom.svg" alt="Sans nom"/>
    <h3>Sans nom</h3>
    <h4 data-content="<%= card.subtitle =>"><%= card.subtitle =></h4>
    <span class="price" data-price="free">free</span>
  </a>
</div>
<div class="game-card card">
  <a href="<%= card.href =>">
    <img src="/images/games/jeu-majuscules.svg" alt="Roi des majuscules"/>
    <h3>Roi des majuscules</h3>
    <h4 data-content="<%= card.subtitle =>"><%= card.subtitle =></h4>
    <span class="price" data-price="free">free</span>
  </a>
</div>

    <div class="game-card card card-more">
      <p>Et pleins d'autres jeux à venir...</p>
    </div>
  </div>
  <a href="" class="download-btn">Télécharger l'appli</a>
</section>
<footer>
  <section>
    <h3>What else?</h3>
    <nav>
      <a href="">The games</a>
      <a href="">The levels</a>
    </nav>
  </section>
  <section>
    <h3>About</h3>
    <nav>
      <a href="">Download TouchUp for iOS</a>
      <a href="">Soon on Android...</a>
    </nav>
  </section>
  <section>
    <h3>You like TouchUp ?</h3>
    <nav>
      <a href="">Download the press kit</a>
    </nav>
  </section>
  <section class="credits">
    <p>Design <a href="https://medium.com/@audreyhacq">Audrey Hacq</a></p>
    <p>Site <a href="https://www.linkedin.com/in/laurentjanet/">Laurent Janet</a></p>
  </section>
</footer>
<script src="/libs/bodymovin.light.min.js"></script>
<script src="/app-20181205094659.min.js"></script>
</body>
</html>
